<html>
  <head>
    <script src="obs-websocket.js"></script>
    <script src="moment.js"></script>
    <script src="moment-duration-format.js"></script>

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="scene-manager">
      <div class="obs-manager">
        <input type="text" class="obs-address" placeholder="OBS Hostname">
        <input type="text" class="obs-password" placeholder="OBS password">
        <button class="obs-connect">Connect to OBS</button>
      </div>

      <h1>Scenes</h1>
      <p>Click a scene to transition to it on stream</p>
      <p>Current scene: <span class="current-scene"></span></p>
      <div class="available-scenes">
        Not connected to OBS yet.
      </div>
    </div>

    <div id="checklist">
      <h2>Checklist</h2>
      <p>Make sure each of these things has been done before transitioning the stream scene.</p>
      <ol>
        <li>Runner is in Discord call</li>
        <li>Commentators (if any) are in Discord call</li>
        <li>Runner has started stream (check on VLC - reference <a href="https://pastebin.com/ULhTjDgE" target="_blank">this pastebin</a> for stream keys.</li>
        <li>Commentators have runner's stream up (again, reference above pastebin).</li>
        <li>Runner information is correct</li>
        <li>Timer has been reset</li>
        <li>Current Game on Twitch has been updated</li>
      </ol>
    </div>

    <div class="timer-control">
      <h2>Timer Control</h2>
      <span class="timer-state"></span>
      <span class="timer-time">00:00:00</span>
      <div class="actions">
        <button class="timer-button" id="start_timer">Start</button>
        <button class="timer-button" id="stop_timer">Finish</button>
        <button class="timer-button" id="reset_timer">Reset</button>
      </div>
    </div>

    <div class="audio-control">
      <h2>Audio Control</h2>

      <div class="sources">
      </div>

      <datalist id="tickmarks">
        <option value="0.00">
        <option value="0.10">
        <option value="0.20">
        <option value="0.30">
        <option value="0.40">
        <option value="0.50">
        <option value="0.60">
        <option value="0.70">
        <option value="0.80">
        <option value="0.90">
        <option value="1.00">
      </datalist>
    </div>
  </body>

  <script src="admin.js"></script>
</html>
