body {
  font-family: sans-serif;
}

.timer {
  font-size: 60px;
  font-weight: bold;
  color: #f1eb9c;
  text-shadow: 0px 0px 15px #000;
}

@keyframes timer-start {
  0% {
    color: #fff;
    text-shadow: 0px 0px 2px #ccc;
  }
  100% {
    color: #f1eb9c;
    text-shadow: 0px 0px 15px #000;
  }
}

@keyframes timer-finish {
  0% {
    color: #fff;
    text-shadow: 0px 0px 2px #ccc;
  }
  100% {
    color: #f3e966;
    text-shadow: 0px 0px 15px #000;
  }
}



.updated-timer {
  animation: timer-start 1.0s ease-out;
}

.finished {
  animation: timer-finish 1.0s ease-out;
  color: #f3e966;
}
